{{!< docsHeader }}
<h1 id="example-mvc-route">Example MVC Route</h1>
<p>This view is auto generated from a markdown file, and served by the express server when the <code>/docs/ExampleRoute</code> route is requested.</p>
