{{!< docsHeader }}
<h1 id="mvc-express">MVC Express</h1>
<p>A boilerplate repository containing a barebones implementation of an Express MVC server. Used to spin up quick component testing sandboxes.</p>
